.container {
  display: flex;
  width: 100%;
  .text_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    width: 50%;
    background-color: black;
    color: white;
    h2 {
      font-family: Playfair Display;
      font-size: 45px;
      font-weight: 400;
      line-height: 60px;
      letter-spacing: 0em;
      text-align: center;
    }
    p {
      font-family: Josefin Sans;
      font-size: 18px;
      font-weight: 400;
      //   line-height: 24px;
      letter-spacing: 0em;
      text-align: center;
    }
    button {
      width: fit-content;
      padding: 5px 10px;
      cursor: pointer;
      margin-top: 5%;
    }
  }
  .image_content {
    width: 50%;
    background-color: black;
    .image {
      object-fit: contain;
    }
  }
}
