.container {
  //   margin-top: 70px;

  :global {
    swiper-button-next:after,
    .swiper-button-prev:after {
      color: white !important;
      margin-top: 200px !important;
      font-size: 30px !important;
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
      color: white !important;
      margin-top: 200px !important;
      font-size: 30px !important;
    }
  }
}
